/** Especificando as fontes **/
$font-titulo : "Releway", sans-serif;
$font-texto : "IBM Plex Mono", monospace;

/** Especificando cores **/
$cor-bg-body : #080808;
$cor-bg-header : #1B1B1B;
$cor-text-body : #9C9C9C;
$cor-bg-button : #3F8E00;
$cor-border-button : #62BA1B;
$cor-text-title : #FFFFFF;
