/** Breakpoints **/

$break-desktop: 1200px;

.flex-list{
    padding: 0;
    margin: 0;
    @extend .d-flex;
    gap: 32px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: $break-desktop;
    @extend .center
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

